CAMPUS_AI_DATABASE_URL=
CAMPUS_AI_TIMEZONE=Asia/Shanghai
CAMPUS_AI_DAILY_FETCH_HOUR=7
CAMPUS_AI_DAILY_FETCH_MINUTE=0
CAMPUS_AI_WORKER_POLL_SECONDS=2
CAMPUS_AI_JOB_LOCK_TIMEOUT_SECONDS=300
CAMPUS_AI_API_BASE_URL=
CAMPUS_AI_API_KEY=
CAMPUS_AI_MODEL=
CAMPUS_AI_AI_OUTPUT_MODE=json_schema
CAMPUS_AI_NTFY_BASE_URL=
CAMPUS_AI_FCM_PROJECT_ID=
CAMPUS_AI_GOOGLE_APPLICATION_CREDENTIALS=
CAMPUS_AI_SECRET_KEY=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
